<!DOCTYPE html>
<html> 
  <head>
    <script defer src="./assets/script/script.js"></script>
    <link rel="stylesheet" href="./assets/style/main.css">
  </head>
  <body>
    <div id="main">
    </div>
  </body>
  include test.pug
</html>